In [1]:
import pandas as pd
import numpy as np
import time
from multiprocessing.dummy import Pool as ThreadPool
from q_tools.data import *
import talib
from math import atan

In [2]:
df=total_data(sort_type='code')
df

,code,open,close,high,low,volume,value,amplitude,A-D,range,turnover
date,,,,,,,,,,,
2011-01-04,600000,2.24,2.34,2.38,2.17,1043015.0,1.307175e+09,9.46,5.41,0.12,0.91
2011-01-05,600000,2.39,2.39,2.50,2.35,1070142.0,1.367751e+09,6.41,2.14,0.05,0.93
2011-01-06,600000,2.40,2.37,2.49,2.33,639541.0,8.144517e+08,6.69,-0.84,-0.02,0.56
2011-01-07,600000,2.38,2.67,2.82,2.32,2787976.0,3.673753e+09,21.10,12.66,0.30,2.43
2011-01-10,600000,2.61,2.59,2.73,2.51,1280075.0,1.679802e+09,8.24,-3.00,-0.08,1.12
...,...,...,...,...,...,...,...,...,...,...,...
2024-05-27,300999,31.14,31.04,31.18,30.66,39192.0,1.211401e+08,1.68,0.13,0.04,0.72
2024-05-28,300999,31.00,30.75,31.05,30.66,36548.0,1.125671e+08,1.26,-0.93,-0.29,0.67
2024-05-29,300999,30.71,30.60,30.91,30.50,34766.0,1.067375e+08,1.33,-0.49,-0.15,0.64
2024-05-30,300999,30.45,30.55,30.75,30.35,32664.0,9.963866e+07,1.31,-0.16,-0.05,0.60
2024-05-31,300999,30.66,30.08,30.77,30.08,55292.0,1.676691e+08,2.26,-1.54,-0.47,1.02

In [6]:
df[df['code']=='600000']['ma5'] = talib.MA(df[df['code']=='600000']['close'],timeperiod=5)

C:\Users\Shower\AppData\Local\Temp\ipykernel_24468\1328736342.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df['code']=='600000']['ma5'] = talib.MA(df[df['code']=='600000']['close'],timeperiod=5)

In [22]:
df[df['code']=='600000']

,code,open,close,high,low,volume,value,amplitude,A-D,range,turnover
date,,,,,,,,,,,
2011-01-04,600000,2.24,2.34,2.38,2.17,1043015.0,1.307175e+09,9.46,5.41,0.12,0.91
2011-01-05,600000,2.39,2.39,2.50,2.35,1070142.0,1.367751e+09,6.41,2.14,0.05,0.93
2011-01-06,600000,2.40,2.37,2.49,2.33,639541.0,8.144517e+08,6.69,-0.84,-0.02,0.56
2011-01-07,600000,2.38,2.67,2.82,2.32,2787976.0,3.673753e+09,21.10,12.66,0.30,2.43
2011-01-10,600000,2.61,2.59,2.73,2.51,1280075.0,1.679802e+09,8.24,-3.00,-0.08,1.12
...,...,...,...,...,...,...,...,...,...,...,...
2024-05-27,600000,8.45,8.54,8.56,8.43,528587.0,4.499326e+08,1.54,1.18,0.10,0.18
2024-05-28,600000,8.58,8.54,8.64,8.51,400473.0,3.429045e+08,1.52,0.00,0.00,0.14
2024-05-29,600000,8.53,8.49,8.59,8.45,408024.0,3.472902e+08,1.64,-0.59,-0.05,0.14
2024-05-30,600000,8.47,8.40,8.55,8.36,567016.0,4.791462e+08,2.24,-1.06,-0.09,0.19
2024-05-31,600000,8.45,8.34,8.45,8.31,537973.0,4.496890e+08,1.67,-0.71,-0.06,0.18

In [19]:
tmp=talib.MA(df[df['code']=='600000']['code']['close'],timeperiod=5)
tmp

KeyError: 'close'

In [ ]:
listS=get_index_codes()
len(listS)

In [ ]:
len(df)

In [ ]:
len(df)/len(listS)

In [ ]:
sum(df['code']=='000001')